body{
    position:relative;
    width:800px;
    margin:auto;
    background-color: lightgrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    width: min-content;
    margin:auto;
}

#willkommen {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#unterseitennavigation{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.unterseiten{
    background-color: turquoise;
    padding: 10px;
    font-size: 2rem;
    margin: auto;
    margin-top: 50px;
}

.unterseiten:hover, .navigation:hover, #spielen:hover{
    background-color: darkturquoise;
}

#menü {
    display: none;
}

#nav1{
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation{
    background-color: turquoise;
    padding: 5px;
    height: min-content;
}

a{
    text-decoration: none;
}

button {
    background-color: turquoise;
    border: none;
    padding: 5px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} /*Quelle: https://www.w3schools.com/css/css3_buttons.asp*/

#spielen{
    background-color: turquoise;
    font-size: large;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: 20px;
}

.Admin, .DeinScore {
    background-color: grey;
    opacity: 30%;
    padding: 5px;
}

.Admin::placeholder, .DeinScore::placeholder {
    color:white;
}

input {
    color: white;
}

#memorykarten {
    font-size: larger;
}

#bildanzeige{
    display: flex;
    flex-wrap: wrap;
}

.bildkarteMitInfo{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: black;
    width: 120px;
}

#memory {
    display: flex;
    justify-content: center;
}

#memory td {
    justify-content: center;
    background-image: url("Beispieldaten/Rückseite_1.jpg");
    width: fit-content;
    height: fit-content;
    opacity: 0;
    border: 1px solid lightgrey;
}

.karte {
    justify-content: center;
    width: 150px;
    height: 120px;
}

#highscoreliste {
    margin: auto;
}

#highscoreliste thead {
    font-size: 1.5rem;
    color:darkturquoise;
}

#highscoreliste thead th {
    padding: 10px;
}

#highscoreliste td {
    font-size: 1.5rem;
    padding: 10px;
}




@media screen and (max-width: 1024px) {
    #unterseitennavigation {
        flex-direction: column;
    }

    .unterseiten {
        font-size: 3.5rem;
        padding: 20px;
    }

    #menü {
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        width: 30px;
    }

    #nav1{
        display: flex;
        flex-direction: row;
        width:fit-content;
        padding: 2px;
    }

    #navcontent{
        flex-direction: row;
        display: none;
        font-size: smaller;
    }

    #nav1:hover #navcontent{
        display: inline-flex;
    }

}

@media screen and (max-width: 599px) {
    body {
        width: 100%;
    }

    h1 {
        font-size: 5rem;
    }
    
    #willkommen {
        font-size: 1rem;
    }

    .unterseiten {
        font-size: 2rem;
    }

    table {
        top: 40px;
    }

    .karten {
        width: 60px;
        height: 45px;
    }

    #memorykarten {
        font-size: medium;
    }

    #highscoreliste {
        margin-left: 70px;
    }

    #highscoreliste thead {
        font-size: 1rem;
    }

    #highscoreliste thead th {
        padding: 5px;
    }

    #highscoreliste td {
        font-size: 1rem;
        padding: 5px;
    }
}



