body{
    width:800px;
    margin:auto;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}

h1{
    display: flex;
    justify-content: center;
    transition: color 2s ease-in-out 0s;
    color:black;
    font-size: 7rem;
    width: min-content;
    margin:auto;
}

h1:hover{
    color: blue;
}

#Erklaertext{
    color:oldlace;
    background-color:deepskyblue;
    width: 600px;
    padding: 30px;
    border: 5px solid white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

}

h2{
    color: black;
    font-size: 2.5rem;
    font-style: italic;
    margin: auto;
    margin-bottom: 50px;

}

.rumpf img, .schiffteil img{
    background-color: white;
    width:100%;
}

#icon{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 20%;
}

#auswahlanzeige, #fertigesSchiff{
    display: flex;
    justify-content: center;
}

.rumpf, .schiffteil, .auswahlBisher{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: black; 
}

.rumpf p, .schiffteil p, .meinSchiff p{
    text-align: center;
    font-size: larger;
}

.rumpf button, .schiffteil button{
    background-color: deepskyblue;
    width: 100px;
    align-self: center;
}

#bisherigeAuswahl{
    display: flex;
    justify-content: center;
}

#Rumpfseite, #Segelseite, #Steuerseite{
    font-style: italic;
    color: black;
}

.auswahlBisher img {
    width: 100%;
    background-color: white;
}

.meinSchiff{
    display: flex;
    flex-direction: column-reverse;
    color: black;
}

.meinSchiff img{
    width: 35%;
    align-self:center;
}





