body{
    width:800px;
    margin:auto;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray;
}

h1{
    transition: color 2s ease-in-out 0s;
    color:black;
    font-size: 7rem;
    width: min-content;
    margin:auto;
    font-style: italic;
}

h1:hover{
    color: blue;
}

#Erklaertext{
    color:oldlace;
    background-color:deepskyblue;
    width: 600px;
    padding: 30px;
    border: 5px solid white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

}

h2{
    color: black;
    font-size: 2.5rem;
    font-style: italic;
    margin: auto;
    margin-bottom: 50px;

}

img{
    background-color: white;
    width:100%;
}

#Auswahlanzeige{
    display: flex;
    justify-content: center;
}

.rumpf{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: black; 
}

.rumpf p{
    text-align: center;
    font-size: larger;
}

.rumpf button{
    background-color: deepskyblue;
    width: 100px;
    align-self: center;
}

