body{
    position:relative;
    width:800px;
    margin:auto;
    background-image: url("Dateien/bg.png");
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray;
}

#nav1{
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#Burgermenu{
    display:none;
}

#navcontent{
    background-color:tan;
    padding: 5px;
    height: min-content;
}

.navigation:hover{
    background-color: orangered;
    font-weight: bolder;
}

#nav2{
    background-color: transparent;
    position: absolute;
    top: 150px;
    right: 300px;
    margin:auto;
    display: flex;
}

a img:hover{
    background-color:sandybrown;
}

#head{
    background-color:tomato;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    margin:auto;
    margin-bottom: -400px;
    transform: translateY(-500px);
    transition: color 1.0s ease-in-out 0.5s;
}

h1{
    transition: color 2s ease-in-out 0s;
    color:oldlace;
    transform: translateY(500px);
    font-size: 7rem;
    width: min-content;
    margin:auto;
}

h1:hover{
    color: black;
}

a{
    color:oldlace;
    text-decoration: none;
    
}

#aktuell{
    color:black;
    font-weight: bolder;
}

blockquote{
    transition: all 1s ease-in-out 0s;
    color:oldlace;
    background-color:sandybrown;
    width: 600px;
    padding: 30px;
    border: 5px solid tomato;
    margin: auto;
    margin-bottom: 100px;

}

 blockquote:hover{
    width: 450px;
    padding: 50px;
    border: 2px solid orangered;
    border-radius: 30%;
    background-color:tan;
 }

h2{
    color:tomato;
    font-size: 2.5em;
    margin-top: 50px;
}

h2~p{
    font-size:larger;
}

h3{
    font-size: 1.5em;
}

footer{
    color:oldlace;
    background-color:tan;
    padding: 20px;
}

table{
    color:oldlace;
    background-color: tomato;
    width: 100%;
    border-collapse: collapse;
}

table *{
    border: 1px solid tan;
}

tr>th{
    color:black;
    background-color: orangered;
    padding: 10px;
}

td{
    padding: 5px;
}

h3+p{
    color:orangered;
}

ul{
    list-style-type: none;
    width:50%;
    padding: 5px;
    border:2px solid orangered;
    margin:auto;
}

li{
    width:min-content;
    margin:auto;
}

#mail{
    color:oldlace;
    background-color: tomato;
    padding: 2px;
}

em{
    color:orangered;
}

button{
    color:oldlace;
    background-color: orangered;
}

.mehrfach{
    color:oldlace;
    background-color: orangered;
    width:min-content;
}

#uboot:hover{
    animation-duration: 3s;
    animation-name: slideout;
}

@keyframes slideout{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 100%;
    }

}

video{
    margin: 10px;
}

#jumpin, #zumAnfang{
    color: orangered;
    font-style:italic;
}

.Kontakt, #nachricht{
    color:white;
    background-color: lightslategray;
    opacity: 30%;
    padding: 5px;
    border: 5px solid;
    display: block;
}

#nachricht{
    width: 300px;
    padding-bottom: 20px;
}

#zusatz{
    font-size: x-small;
}

.Kontakt::placeholder, #nachricht::placeholder{
    color:white;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
    body{
        width: 600px;
        margin: auto;
    }

    div#head{
        width: 100%;
        transform: translateY(-600px);
        border-radius: 30%;
        margin-bottom: -500px;
    }

    div#head h1{
        font-size: 5rem;
        transform:translateY(600px)
    }

    #nav2{
        top: 150px;
        right: 200px;
    }

    h2{
        font-size: 2em;
        margin-top: 30px;
    }
    
    h2~p{
        font-size:medium;
    }
    
    h3{
        font-size: 1em;
    }

    img, video{
        width:100%;
    }

    blockquote{
        width:80%;
    }
}

@media screen and (max-width: 599px) {
    body{
        width:100%;
    }

    header{
        margin-bottom: 20px;
    }

    #Burgermenu{
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        width: 50px;
    }

    #nav1{
        display: flex;
        flex-direction: row;
        width:fit-content;
        padding: 2px;
    }

    #navcontent{
        flex-direction: column;
        display: none;
        font-size: smaller;
    }

    #nav1:hover #navcontent{
        display: inline-flex;
    }

    #nav2{
        top: 0;
        right: 0;
        width: fit-content;
        display:flex;
    }

    a img{
        width: 70%;
        
    }

    img#uboot{
        width: 40%;
    }
    
    video{
        margin: 0;
    }

    div#head{
        width: 100%;
        height: min-content;
        transform: translateY(0);
        margin-bottom: 10px;
        border-radius: 50%;
    }

    div#head h1{
        font-size: 3rem;
        transform: translateY(0);
    }
    
    blockquote{
        width:250px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: smaller;
    }

    blockquote:hover{
        width:200px;
        padding: 15px;
        border-radius: 20%;
    }
    
    h2{
        font-size: large;
        margin-top: 20px;
    }

    audio{
        width: 100%;
    }
    
}    